<h2>Você está sendo convidado para nosso amigo secreto!</h2>
<br>
<strong>Olá {{ convidado }},</strong> <br>
Você está recebendo o contive para entrar no meu grupo de amigo secreto,
confira os dados logo abaixo: <br>

<strong>Nome do grupo: </strong> {{ nome_grupo }} <br>
<strong>Data da confraternização: </strong> {{ data_confraternizacao }} <br>
<strong>Local da confraternização: </strong> {{ local_confraternizacao }} <br>
<strong>Valor mínimo: </strong> R${{ valor_minimo }} <br>
<strong>Data do sorteio: </strong> {{ data_sorteio }} <br>
<br>
<br>
Se você deseja entrar no grupo: <br>
Baixe o nosso aplicativo: <a href="http://www.google.com.br" target="_blank" rel="noopener noreferrer">Baixar
  TireiTu</a>
<br>
E use o CÓDIGO DE CONVITE: <strong>{{ codigo_convite }}</strong>

<br>
<br>

<small>Vamos festejar nossa amizade com um bom jogo de amigo secreto!</small>
