<h2>Sorteio Realizado!</h2>
<br>
<strong>Olá {{ usuario }},</strong> <br>
Segue abaixo as informações sobre o sorteio realizado: <br><br>

<strong>Nome do grupo: </strong> {{ nome_grupo }} <br>
<strong>Seu amigo secreto é: </strong>
<h3 style="color: red">{{ sorteado }}</h3> <br><br>

Mais informações: <br>
<strong>Data da confraternização: </strong> {{ data_confraternizacao }} <br>
<strong>Local da confraternização: </strong> {{ local_confraternizacao }} <br>
<strong>Valor mínimo: </strong> R${{ valor_minimo }} <br>

<strong>Acesse o aplicativo para ver a lista de desejos do seu sorteado!</strong>
<br>
<br>

<small>Sorteio realizado, CAPRICHE NO SEU PRESENTE!</small>
